// reset css
@import 'node_modules/reset.css/reset.css';

// config
@import 'variable', 'function', 'mixin', 'keyframes';

// modules
@import 'module/*';

.movieContent {
    position: relative;
    margin: 0 auto;
}
video {
    transform: scaleX(-1);
    transform-origin: center center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    transform-origin: center center;
}
canvas:nth-of-type(1) {
    z-index: 1;
}
canvas:nth-of-type(2) {
    z-index: 2;
}


